.card {
    box-shadow: 0 4px 8px 0 rgba(241, 239, 239, 0.2);
    transition: 0.3s;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(228, 224, 224);
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  img{
      width: 200px;
      height: auto;
  }
  .CardList{
      margin-top: 250px;
      margin-left: 250px;
      margin-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }